<div id="calculatorMain" class="container calcWrapper">
	<div class="panel panel-default">
		<div class="panel-heading panel-header">Buying your House</div>
		<div class="panel-body calc-panel">
			<p>
			How much is the house you want to buy? <span class="slider-value" id="lblHowMuchBuy"></span><br>
			<div class="defaultSlider" id="sliderToBuy"></div>
			</p>
			Do you have a house to sell?
			<input id="rdSellYes" type="radio" name="rdSell" value="yes">Yes
			<input id="rdSellNo" type="radio" name="rdSell" value="no">No
		</div>
	</div>
	<div id="pnlSelling" class="panel panel-default">
		<div class="panel-heading panel-header">Selling your House</div>

		<div class="panel-body calc-panel">			<p>
			How much did you pay for your house? <span class="slider-value" id="lblHowMuch"></span><br>
			<div class="defaultSlider" id="sliderPayFor"></div>
			</p>
			<p>
			How much will you sell it for? <span class="slider-value" id="lblSellFor"></span><br>
			<div class="defaultSlider" id="sliderSellFor"></div>
			</p>

		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading panel-header">Costs</div>
		<div class="panel-body calc-panel">
			<p>
			<div class="costs-Label">Solicitors Fee:</div> <span id="lblSolVal" class="costs-value">£0</span><br>
			</p>
			<div class="sliderAdjust" id="sliderSolicitor"></div>
			<p>
			<div class="costs-Label">Stamp Duty:</div>  <span class="costs-value">£1000</span> <br>
			</p>
			<p>
			<div class="costs-Label">Estate Agents:</div>  <span id="lblEstateAgent" class="costs-value">£0</span>
			</p>
			<div class="sliderAdjust" id="sliderEstateAgent"></div>
			<p>
			<div class="costs-Label">Extra Costs:</div>  <span id="lblExtraCosts" class="costs-value">£0</span><br>
			</p>

			<div class="sliderAdjust" id="sliderExtraCosts"></div>
			

		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading panel-header">Mortgage</div>

		<div class="panel-body calc-panel">
			<p>
			<div class="costs-Label">You need to borrow:</div> <span class="costs-value">£1000</span><br>
			</p>
			<p>
			<div class="costs-Label">At loan to value</div> <span class="costs-value">80%</span>
			</p>
			<p>
			<div class="costs-Label">Loan Taken Over:</div> <span id="lblTakenOver" class="costs-value">35 years</span></p>
			<div class="sliderAdjust" id="sliderTakenOver"></div>
			</p>
			<p>
			<div class="costs-Label">At Interest Rate:</div> <span id="lblInterestRate" class="costs-value">2%</span></p>

			<div class="sliderAdjust" id="sliderInterestRate"></div>
						</p>

		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body calc-panel">

			<p class="calc-total">
			You'll Pay <strong>£800</strong> per month
			</P>
		</div>
	</div>




</div>


<script>
$(document).ready(function(){
		var calc = new MgCalculation();	
		})
</script>

